body{
    background-color: #DCF0FF !important;
}

.kep {
    display: block;
    margin: 20px auto 30px auto; 
    width: 100%;                 
    max-width: 800px;            
    height: auto;
border-radius: 15px;    /* lekerekített sarkak, 15px vagy %-ban is lehet */
  border: 3px solid black; /* fekete keret, vastagsága 3px */
               
}



.h1 {
    text-align: center;  
    font-size: 2rem;      
    width: 90%;            
    max-width: 600px;      
    margin: 20px auto;
    color: red !important;   
}
@media (max-width: 768px) {
    .h1 {
        font-size: 1.5rem;  
        width: 95%;
        color: red !important;       
    }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 1.2rem;
        color: red !important;
    }
}

.p {
    text-align: justify;  
    font-size: 1.125rem;   
    width: 100%;            
    max-width: 800px;      
    margin: 30px auto 30px auto;  
    box-sizing: border-box; 
    padding: 0 10px;
    color: blue !important;
}


@media (max-width: 768px) {
    .p {
        font-size: 1rem;   
        padding: 0 15px;   
    }
}

@media (max-width: 480px) {
    .p {
        font-size: 0.9375rem; 
        padding: 0 10px;
    }
}


.row {
  justify-content: center; 
}

.card{
    border: 3px solid black !important;
}
.card-img-top{
    border-bottom: 3px solid black !important;
}



